<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Login</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include('partials/header') -%>

        <main>
            <div id="login-section">
                <form id="login-form" action="/login" method="post">
                    <h2>Log in</h2>
                    <label for="email">Email</label>
                    <div class="email error"></div>
                    <input type="email" name="email" required>
                    <label for="password">Password</label>
                    <div class="password error"></div>
                    <input type="password" name="password" required>
                    <button>Log in</button>
                </form>
            </div>
        </main>

        <%- include('partials/footer') -%>
</body>

<script>
    const form = document.querySelector('form')
    form.addEventListener("submit", (e) => {
        e.preventDefault()

        const email = form.email.value
        const password = form.password.value
    })
</script>

</html>